.idea
.DS_Store
node_modules
build/assets/css/styles.css
build/assets/js
build/assets/fonts/icons*
build
*.orig
*.map
_icons.scss
src/img/mrrobotrecording.mp4
src/img/mrrobotrecording2.mp4
src/img/mrrobotvideo4\ _larger.mp4
src/img/mrrobotvideo4 _larger.mp4
src/img/mrrobotvideo4new.mp4
package-lock.json